
@font-face {
  font-family: 'Gabarito';
  src: url('/font/gabarito/Gabarito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gantari';
  src: url('/font/gantari/Gantari-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Handlee';
  src: url('/font/handlee/Handlee-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@import "tailwindcss";

@theme{
  --breakpoint-xs: 400px;
  --breakpoint-me: 900px;
  --color-Cyan: '#0AA0A1';
  --font-gabarito: Gabarito;
  --font-gantari: Gantari;
  --font-handlee: Handlee, "sans-serif";
  --font-display: 'Gabarito', 'Gantari', 'Handlee', sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-Cyan: #0AA0A1;
}

:root inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }

@media(width >= 400px){
  .fontSize{
    font-size: 24px;
  }
  
}
}
:root {
  color: #238E8E;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.Cyan{
  color: #0AA1A1
}
.fancyBorderForX {
  border: 2px solid transparent; 
  border-radius: 28px;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #238E8E 0%, #FFFFFF 30%, #FFFFFF 70%, #238E8E 100%) border-box;
}
.fancyBorder {
  border: 2px solid transparent; 
  border-radius: 8px;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #238E8E 0%, #FFFFFF 30%, #FFFFFF 70%, #238E8E 100%) border-box;
}
.fancyBorderForHover{
  border: 2px solid transparent; 
  border-radius: 0px; 
}
.fancyBorderForHover:hover{
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, #238E8E 0%, #FFFFFF 30%, #FFFFFF 70%, #238E8E 100%) border-box;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.typeWritterEffect{
  overflow: hidden;
  border-right: 0.15em solid;
  white-space: nowrap;
  margin-inline: auto;
  letter-spacing: 0.15em;
  animation: typing 3s steps(15) 4, blink 1s step-end infinite;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 16ch; }
  100% { width: 0; }
}
@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: currentColor; }
}


.DropStatus:hover .StatusDropdown,
.DropGenre:hover .GenreDropdown,
.Droplanguages:hover .languagesDropdown{
  display: flex;
}

.shimmer {
  border: 2px solid transparent;
  background: linear-gradient(90deg, Cyan 25%, #f8f8f8 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes shimmer {
  0% {
    opacity: 1;   /* fully visible */
  }
  50% {
    opacity: 0.4; /* dimmed */
  }
  100% {
    opacity: 1;   /* back to visible */
  }
}



